.tituloProjeto, .tituloPagina, .hifem, .hatsuneMiku, .iconLogo {
    display: inline-block;
    align-items: center;
    color: white;
}

.hatsuneMiku {
    float: left;
    width: 3.5%;
    margin-left: 3.5%;
    margin-top: 1%;
}

.iconLogo{
    float: right;
    margin-right: 5%;
    margin-top: 0.5%;
}

.tituloProjeto{
    margin-left: 5%;
}

.hifem {
    margin-left: 10%;
}

.tituloPagina{
    margin-left: 10%;
}

.tituloProjeto, .tituloPagina, .hifem {
    align-items: center;
    padding: 30px;
}

.header {
    background-color: #46BAA6;
    width: 100%;
}